click==6.7
Flask==0.12.3
numpy==1.11.2
email==4.0.2
itsdangerous==0.24
matplotlib==1.4.3
redis==2.10.5
requests==2.12.4
rq==0.7.1
Pillow==3.4.2
scikit-learn[alldeps]
TinyUrl==0.1.0
tweepy==3.5.0
Flask-WTF==0.8
WTForms==2.1
