body            { font-family: sans-serif; background: #eee; }
h1 {
    font-family: 'Georgia', serif;
    margin-top: 60;
    text-align: center;
    color: red;
}
h2 {
  font-size: 1.2em;
}

#comment {
    font-family: 'Gill Sans', serif;
    margin-top: 5;
    font-style: italic;
    font-size: 20px;
    text-align: center;
}

ul.menu{
    z-index: +5;
    position: fixed;
    top: 0;
    width: 100%;
    list-style-type: none;
    margin: 0;
    margin-bottom: 10;
    padding: 0;
    overflow: none;
    background-color: #333;
}

li.menu {
    float: left;
}

li.menu a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li.menu a:hover {
    background-color: #4CAF50;
}

/* Dropdown Button */
.dropbtn {
    background-color: #333;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

.dropbtn:hover {
    background-color: #4CAF50;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    cursor: pointer;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #c1c1c1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #4CAF50;
}

/* Header image box, with shadow for the initial state */
#artimg{
  border: 0px solid #ddd;
  border-color: black;
  background: transparent;
  border-radius: 5px;
  display: block;
  box-shadow: 0 0px 0px rgba(0,0,0,0.15);
  position: relative;
  transition: all 0.2s ease-in-out;
}


/* Create the hidden pseudo-element */
/* include the shadow for the end state */
#artimg::after {
  content: '';
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  opacity: 0;
  border-radius: 5px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  transition: opacity 0.3s ease-in-out;
}

/* Scale up the image box */
#artimg:hover {
  transform: scale(1.1, 1.1);
}

/* Fade in the pseudo-element with the bigger shadow */
#artimg:hover::after {
  opacity: 1;
}

#artimg.center {
    display: block;
    margin: 0 auto;
}