<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Creetic | Commenting your art so you don't have to</title>
    {% endif %}
    <link rel=stylesheet type=text/css href="/static/css/style.css">
  </head>
  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <script>
    (adsbygoogle = window.adsbygoogle || []).push({
      google_ad_client: "ca-pub-2260930281991548",
      enable_page_level_ads: true
    });
  </script>
  <body>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-88054829-3', 'auto');
      ga('send', 'pageview');
    
    </script>
    <ul class="menu">
      <div class="dropdown">
        <button class="dropbtn">Plain Critique</button>
        <div class="dropdown-content">
          <a href="/getbs">French</a>
          <a href="/getbs_en">English</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Image Critique</button>
        <div class="dropdown-content">
          <a href="/getbs_img">Regular</a>
          <a href="/getbs_img_url">Enter URL</a>
          <a href="/news">MultiCluster</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Twitter</button>
        <div class="dropdown-content">
          <a href="https://twitter.com/hashtag/creetic?f=tweets&vertical=default&src=hash" target="_blank">#Creetic</a>
          <a href="https://twitter.com/CreeticBot" target="_blank">@CreeticBot</a>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropbtn">Chatbot</button>
        <div class="dropdown-content">
          <a href="https://bot.api.ai/6960935c-f3f4-4f7a-9579-2a4899b62f7c" target="_blank">Greg Bot (alpha)</a>
        </div>
      </div>
      <div class="dropdown" style="float:right">
        <button class="dropbtn">State of the News</button>
        <div class="dropdown-content">
        <a href="/news">Coming soon...</a>
        </div>
      </div>
    </ul>
    <h1>Creetic</h1>
    {% block content %}{% endblock %}
  </body>
</html>