<html>
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="0" />
    {% if title %}
    <title>{{ title }}</title>
    {% else %}
    <title>Artomatic 2000</title>
    {% endif %}
    <link rel=stylesheet type=text/css href="/static/css/style.css">
  </head>
  <body>
    <ul>
      <li><a href="/getbs">Get BS in French</a></li>
      <li><a href="/getbs_en">Get BS in English</a></li>
      <li><a href="/getbs_img">Get Image BS</a></li>
      <li style="float:right"><a href="/news">State of the News</a></li>
    </ul>
    {% block content %}{% endblock %}
  </body>
</html>