{% extends "base.html" %}
{% block content %}
    <h1>ArtoMatic 2000+</h1>
    <div><p>{{ imagecomment }}</b></p></div>
    <div><img src= {{ imageurl }} alt="target pic" width="400"</div>
    <div><p><a href= {{ imageurl }} >Source image</a></p></div>
    {% for colorcluster in maincolorstringslist %}
    <table style = "border: 1px solid black;width:300px;">
      <tr>
        <th>Color</th>
        <th>Weight</th>
      </tr>
      {% for color in colorcluster %}
      <tr>
        <td>{{ color[1] }}</td>
        <td>{{ color[2] }}</td>
      </tr>
      {% endfor %}
      <tr></tr>
      <tr>
        <td columspan=2>Silhouette score: {{ silhouettescores[loop.index0] }}</td>
      </tr>
    </table>
    <p></p>
    <img src="data:image/png;base64,{{ colorboxes[loop.index0] }}" width="200" border=0" style="border-color: black;background: transparent">
    {% endfor %}
    <p></p>
    <hr>
    <p><i>Ask for a comment on a specific image by entering a URL.</i></p>
    <form action="" method="post">
      {{ form.url.label }}: {{ form.url(placeholder='URL of your image') }}
      <br>
      {{ form.csrf_token }}
    </form>
    <hr>
    <p><i>You can also use the imageurl parameter, adding ?imageurl=[your image url] to this page's url, e.g. try <a href="?imageurl=http://4.bp.blogspot.com/-se2NiVM6Ifw/VZPOXwYD3VI/AAAAAAAAIDo/_dDgrAfvanU/s1600/Rothko.jpg">this image</a>, <a href="?imageurl=https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRzYpcdAshr9xLfSwONO4Oku7bXXQ0RJ1LnZAtqAieDyNmqqpRbvA">this one</a>, or <a href="?imageurl=https://files.brightside.me/files/news/part_0/3755/150555-R3L8T8D-880-amazing-trees-1-2.jpg">this one</a>. Or even <a href="?imageurl=http://images.outbrain.com/Imaginarium/api/uuid/ca30a9207aaac3c969d7942aa53b2cd7295017dd49b09bb513ad3450208ea593/181/124">this one.</a></i></p>
{% endblock %}



