<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.9/angular.min.js"></script>
<script src="{{ url_for('static', filename='main.js') }}"></script>
<html ng-app="analyseImageApp">
<script>
  var imageurl = '{{ imageurl }}';
</script>
<body ng-controller="analyseImageController" ng-init="getResults('{{imageurl}}')">

{% extends "base.html" %}
{% block content %}
    
    <!-- IN CASE OF FAILURE SHOW COLORTUBES HEADER -->
    <div ng-hide="failure"><img id="artimg" class="center" src= {{ imageurl }} alt="target pic" width="400"></div>
    <div ng-show="failure"><img id="artimg" class="center" src= "/static/images/colortubes.jpg" alt="target pic" width="400"></div>
    <p></p>
    {% raw %}
    <!-- WHILE WAITING -->
    <div ng-show="waiting" id="comment">Please wait, our best experts are analysing your image...<p></p></div>
    <img id="artimg" class="center" src="/static/images/spinner.gif" ng-show="waiting" width="50">
    
    <!-- IN CASE OF FAILURE -->
    <div ng-show="failure" id="comment">Sorry, our experts were unable to retrieve your image. Please check it and try again.<p></p></div>
    
    <!-- IN CASE OF SUCCESS -->
    <div ng-show="success">
      <!-- COMMENT -->
    <div id="comment"><p>{{ imagecomment }}</p></div>
    <hr>
      <!-- SIMPLER IMAGE -->
    <p id="comment">An easier way to draw the same thing would have been:</p>
    <div><img id="artimg" class="center" src="data:image/png;base64,{{ simplerimage }}" width="400" border="0" style="border-color: black;background: transparent"></div>
    <hr>
      <!-- COLOR BOXES -->
    <table style = "border: 0px solid black;width:300px;">
      <tr>
        <th align="left">Color</th>
        <th align="left">Weight</th>
      </tr>
  
      <tr ng-repeat="color in maincolorstrings">
        <td>{{ color[1] }}</td>
        <td>{{ color[2] }}</td>
      </tr>
      <tr></tr>
      <tr>
        <td columspan=2>Score: {{ score }}</td>
      </tr>
    </table>
    <img id="artimg" class="center" src="data:image/png;base64,{{ colorboxes }}" width="200" border="0" style="border-color: black;background: transparent">
  
    
    <!-- end of hiddable div -->
    </div>
    {% endraw %}
    
    <hr>
    <div><p><a href= {{ imageurl }} >Source image</a></p></div>
    <p>Ask for a comment on a specific image by entering a URL.</p>
    <p>You can also post a photo on Twitter and tag <a href="https://twitter.com/Artomator">@Artomator</a> or use the hashtag <a href="https://twitter.com/hashtag/Criticomatic?f=tweets&vertical=default&src=hash">#Criticomatic</a>.</p>
    <form action="" method="post">
      {{ form.url.label }}: {{ form.url(placeholder='URL of your image') }}
      <br>
      {{ form.csrf_token }}
    </form>
    <hr>
    <p><i>You can also use the imageurl parameter, adding ?imageurl=[your image url] to this page's url, e.g. try <a href="?imageurl=http://4.bp.blogspot.com/-se2NiVM6Ifw/VZPOXwYD3VI/AAAAAAAAIDo/_dDgrAfvanU/s1600/Rothko.jpg">this image</a>, <a href="?imageurl=https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcRzYpcdAshr9xLfSwONO4Oku7bXXQ0RJ1LnZAtqAieDyNmqqpRbvA">this one</a>, or <a href="?imageurl=https://files.brightside.me/files/news/part_0/3755/150555-R3L8T8D-880-amazing-trees-1-2.jpg">this one</a>. Or even <a href="?imageurl=http://images.outbrain.com/Imaginarium/api/uuid/ca30a9207aaac3c969d7942aa53b2cd7295017dd49b09bb513ad3450208ea593/181/124">this one.</a></i></p>
{% endblock %}
